@use "../styles/color_and_responsive/colors" as *;
@use "../styles/contactStyle" as *;
@use "../styles/checkout" as *;
@use "../styles/components/header" as *;
@use "../styles/components/footer" as *;
@use "../styles/allProduct" as *;
@use "../styles/oneProductDetails" as *;

body {
  // font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  // "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  background-color: #634c9f;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: 0;
  transition: 0.5s;
  &:hover {
    background-color: #3f2f68;
  }
}

button{
  cursor: pointer;
}
.hide {
  display: none;
}
.Organic{
  background-color: green;
}
.Cold-Sale{
  background-color: #3cd6fc;
}
.view-all-nav {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  .text {
    display: flex;
    align-items: center;
    gap: 10px;

    h5 {
      font-weight: bold;
      font-size: 16px;
    }
    p {
      font-size: 11px;

      color: $gray;
    }
  }
  .view-all-btn {
    font-weight: bold;
    color: black;
    background-color: transparent;
    outline: none;
    border: 1px solid $gray;
    border-radius: 20px;
    padding: 8px 15px;
  }
}

.view-all-btn {
  font-weight: bold;
  color: black;
  background-color: transparent;
  outline: none;
  border: 1px solid $gray;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: .7rem;
}

.discount {
  span {
    font-weight: bolder;
    font-size: 16px;
    &:first-child {
      color: $red;
    }
    &:last-child {
      font-size: 14px;
      text-decoration: line-through;
    }
  }
}

input {
  outline: none;
}

.intro-page {
  transition: 0.5s;
  overflow-x: hidden;
  position: relative;
  .product-disscount {
    position: relative;
    // right: -100%;
    transition: 0.5s;
    img {
      width: 100%;
      height: 100vh;
      @media (max-width:992px) {
        width: 100%;
        top: 50%;
        right: 50%;

      }
    }
    .container {
      .content {
        width: 30%;
        position: absolute;
        top: 50%;
        // left: 10%;
        transform: translateY(-50%);
        h5 {
          // margin-bottom: 30px;
          background-image: linear-gradient(
            to right,
            #22c55e 30%,
            transparent 60%
          );
          display: inline;
          padding: 10px 15px;
          // width: 50%;
          border-radius: 8px;
          color: green;
        }
        h1 {
          margin-top: 15px;
          font-size: 40px;
          margin-bottom: 10px;
          font-weight: bold;
          color: $purple-color-2;
        }
        .shop-now {
          margin-top: 20px;
          display: flex;
          gap: 30px;
          .text {
            .discount {
              span {
                font-weight: bolder;
                font-size: 16px;
                &:first-child {
                  color: $red;
                }
                &:last-child {
                  font-size: 14px;
                  text-decoration: line-through;
                }
              }
            }
            p {
              font-size: 12px;
              color: $gray;
            }
          }
        }
        @media (max-width:787px) {
          width: 90%;
      
        }
      }
    }
  }
}

.category {
  padding: 30px 0;
  .container {
    display: flex;
    justify-content: center;
    
    gap: 4px;
    .category-box {
      width: calc((100% / 9 - 15px + 42px));
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      img {
        background-color: $second-bg-color;
        border-radius: 100%;
        height: 95%;
        margin-bottom: 10px;
        width: 95%;
      }
      h5 {
        font-size: 13px;
        text-align: center;
        // font-weight: bolder;
      }
    }


    @media (max-width :992px) {
      flex-wrap: wrap;
    }
  }


}

.products-section {
  padding-bottom: 30px;
  .container {
    .fifty-discount {
      margin-bottom: 30px;
      background-image: url("../imgs/Home/fiftyPercent.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 70px;
      width: 100%;
    }
    .new-products {
      display: flex;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 50px;
      // flex-direction: column;

    }
    .on-this-week {
      padding-bottom: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      // flex-wrap: wrap;
   
          @media (max-width:992px) {
          flex-wrap: wrap;
        }
    }


    .new-arrivals{
      display: flex;
      margin-bottom: 50px;
      .left{
        overflow: hidden;
        width:25%;
        border:1px solid $input-border-text-color;
        align-self: stretch;
        .rate-box{
          padding: 10px;
          // margin-bottom: 20px;
          .up{
            display: flex;
            gap:20px;
            align-items: center;
            margin-bottom: 20px;
            img{
              &:first-child{
                width: 60px;
                height: 60px;
                border-radius: 20px;

              }
            }
            .person{
               display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            }
          }
          .down{
            p{
            color:$gray;
            font-size: 13px;
            margin-top: 20px;
            // margin-bottom:10px;
          }
        }

     

         }
        .product-on-this-week{
          width: 100%;
          height: 51%;

        }
           @media (max-width:992px) {
          width: 100%;
        }
      }
      .right{
        width: 75%;
        display: flex;
        .item{
          width: 100%;
    /* height: 300px; */
    display: flex
;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
        }

        @media (max-width:992px) {
          width:100%;
          flex-wrap: wrap;
          .item{
            width: 50%;
          }
        }
      }
           @media (max-width:992px) {
            flex-direction: column;
          flex-wrap: wrap;
    
        }
    }
  }
}
   .product-on-this-week {
        position: relative;
        width: 50%;
        transition: 0.5s;
        height: 240px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .content {
          // height: 100%;
          padding: 20px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          h5 {
            background-image: linear-gradient(
              to right,
              #c5c022 30%,
              transparent 60%
            );
            display: inline;
            padding: 5px 15px;
            border-radius: 8px;
            color: rgb(139, 113, 0);
            font-size: 10px;
          }
          h1 {
            margin-top: 1em;
            font-size: 1em;
            width: 50%;
            margin-bottom: 5%;
            font-weight: bold;
            color: $purple-color-2;
          }
          p {
            color: $gray;
            font-size: .6em;
            margin-bottom: 5%;
          }
        }
        @media (max-width:992px) {
          width: 100%;
        }
      }
   


        .item {
        border: 1px solid $input-border-text-color;
        padding: 10px;
        width: calc(100% / 6);
        align-self:flex-end;
// height:360px;
        .productImg {
          object-fit: cover;
          width: 100%;
          cursor: pointer;
        }

          
        .infos {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 10px;

        
          .classify {
            // background-color: green;
            border-radius: 20px;
            padding: 5px 10px;
            color: white;
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 12px;
            img {
              width: 20px;
              height: 20px;
            }
          }

          .discount-percent {
            background-color: $red;
            border-radius: 20px;
            color: white;
            padding: 5px 8px;
            font-size: 12px;
            font-weight: bold;
          }
        }

        .productName {
          margin-bottom: 10px;
          margin-top: 15px;
          font-weight: bold;
          font-size: 13px;
            min-height: 45px;
            overflow: hidden;
          // line-clamp: 1;
          
        }

        .second {
          margin-top: 8px;
          margin-bottom: 8px;

          border: 3px solid red;
          // border-color: red;
          width: 100%;
        }
        .run-out {
          margin-top: 10px;

          font-size: 11px;
          color: $gray;
        }
        .available {
          margin-top: 5px;
          color: $gray;
          font-size: 12px;
          span {
            font-weight: bold;
            color: black;
            font-size: 15px;
          }
        }


        @media (max-width:992px) {
          width: 50%;
        }
      }