$text-color-black : #030712;
$text-color-black-gray : #4b5563;
$text-color-black-gray-2 :#6b7280;
$link-color-blue :#2563eb;
$input-border-text-color :#d1d5db;
$input-border-text-color-2 :#ebeef3;
$purple-color : #634c9f;
$purple-color-2:#3f2f68;
$second-bg-color : #f3f4f6;
$gray:gray;
$red : red;
